
input[name="quickcheckout[checkout_min_order]"] {
	width:30px;
	text-align:center
}

#general_min_order_value,
#general_min_quantity_value,
#cart_image_size_width,
#cart_image_size_height,
#max_width{
  width: 50px;
}
#label_general_min_quantity_value,
#label_general_min_order_value{
	width: 57px;
text-align: right;
padding-right: 3px;
}


/*General*/
#tab_general_settings .languages label{
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
}
#tab_general_settings .languages input{
	margin-bottom:3px;
}

th.guest {
	text-align: left;
}
th.register {
	text-align: left;
}
th.login {
	text-align: left;
}

#tab_shipping_address td, #tab_payment_address td {
	width: 27%;
}

#tab_shipping_address td.name span, #tab_payment_address td.name span {
	display:inline-block;

}
#tab_confirm td.name span {
	display:inline-block;
	width:135px
}
input.col {
	display: inline-block;
	color: #479ccf;
	outline:none;
	padding:0px !important;
}
.force-default-style {
	text-align: right;
}
.force-default-style-settings {
	text-align: left;
}
tr.add-style td {
	width: 50%;
}
.box {
	margin-bottom: 0px;
	height: 100%;
}
.block-design {
	width: 779px;
	display: inline-block;
}
.checkout-style {
	display: inline;
}
tr.block-design-checkout {
	float: left;
	margin-left: 90px;
}
tr.force-default {
	display: block;
	margin-left: 17px;
}
th.checkout-design-title {
	display: block;
	width: 80%;
}
td.title-css {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px 10px 10px;
	text-align: left;
}

/*td {
	width:25%;
	position:relative;
	height:100%;
	display: table-cell
}*/
#tab_general_settings td {
	width:20%
}
.sort-item:hover {
	background:#E8F3F9
}
.sort {
	display: none;
	float:right;
	width:10px;
}

.columns {
	height:15px;
	overflow:hidden;
	margin-bottom:5px;
}
.column {
	width: 180px;
	float: left;
	margin-top: 10px;
	padding:0px;
	min-height: 100px;
    overflow: visible;

}
#slider {
	width:576px;
	height:2px;
	margin-top:5px;
}

#column_groups{
	width: 576px;
}
#column_group_1{
	position: relative;
float: left;
}
#column_group_2{
	position: relative;
float: left;
z-index: 10;
margin-top: 10px;

}
#column_group_2 .column{
	margin-top: 0px;
}
.columns1 {
	margin-left:10px;
}

.columns input, 
.columns input[type=text]{
	background:none;
	box-shadow: none;
	padding:0px;
	height:17px;
	text-align:center;
	border:none
}
.portlet {
	margin:10px 10px;
	border: 1px solid #B5B5B5;
	background:#f2f7fa;
	clear:both;
	display:block;
	height: 100px;
	cursor: move;
	overflow:hidden
}
.column-1 .portlet {
	margin-left:0px;
}
.column-3 .portlet {
	margin-right:0px;
}
.column-2, .column-3{
margin-bottom: 0px;
}
.column-4 .portlet {
	

}
.column-4 {
	margin-top: 0px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		z-index: 100;
background: #fff;
margin-left: 1px;
margin-bottom: 0px;

}
.column-data-4 {
	display: none !important;
}
.portlet-header i {
	margin:0px;
}
.portlet-header {
	border-bottom: 1px solid #b5b5b5;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #526066;
	min-width:160px;
	margin: 5px 10px;
	padding-bottom:5px;
}
.portlet-content .text {
	margin:8px 10px 0px 10px;
	max-height:33px;
	color:#526066;
	min-width:160px;
	overflow:hidden
}
.portlet-content .text {
	text-align:center
}
.portlet-content .text .icon-drag {
	display:inline-block;
	float:none;
	text-align:center;
	margin:0px;
	cursor: move;
}
.portlet-header:hover {
	color: #479ccf;
}
.portlet-header:hover > .icon-drag-header {
	background-position: -47px -188px;
}
.portlet-header-shipping-address {
	border-bottom: 1px solid #b5b5b5;
	padding: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #526066;
}
.portlet-header-shipping-address:hover {
	color: #479ccf;
}
.portlet-header-shipping-address:hover > .icon-drag-shipping-address {
	background-position: -95px -188px;
}
.portlet-header-shipping-method {
	border-bottom: 1px solid #b5b5b5;
	padding: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #526066;
}
.portlet-header-shipping-method:hover {
	color: #479ccf;
}
.portlet-header-shipping-method:hover > .icon-drag-shipping-method {
	background-position: -122px -188px;
}
.portlet-header-payment-method {
	border-bottom: 1px solid #b5b5b5;
	padding: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #526066;
}
.portlet-header-payment-method:hover {
	color: #479ccf;
}
.portlet-header-payment-method:hover > .icon-drag-payment-method {
	background-position: -146px -188px;
}
.portlet-header-design-confirm {
	border-bottom: 1px solid #b5b5b5;
	padding: 4px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #526066;
}
.portlet-header-design-confirm:hover {
	color: #479ccf;
}
.portlet-header-design-confirm:hover > .icon-drag-design-confirm {
	background-position: -172px -188px;
}
.portlet-header .icon-drag {
	float: right;
}
.ui-sortable-placeholder {
	border: 1px dashed #666;
	visibility: visible !important;
	height: 50px !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}
.ui-sortable-helper tr{
	width: 100%
}
.ui-sortable-helper td{
	width:27%

}
.ui-widget-content {
}
.ui-slider {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}
.ui-slider .ui-slider-range {
	display:none !important;
}
.ui-slider .ui-slider-handle {
	height: 1000px !important;
	width: 18px !important;
	outline:none !important;
	margin-top:-5px !important;
	border: none !important;
}
.gridster-holder {
	vertical-align:top;
	display: inline;
}
.add-css {
	width: 480px;
}
.ui-slider .ui-slider-handle {
	border-radius:0px;
}
.fixed {
	position:fixed;
	top:0;
}
#checkout_settings, .CodeMirror {
	background:#f2f7fa !important;
	-moz-box-shadow:    inset 1px 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow:         inset 1px 1px 4px rgba(0, 0, 0, 0.1);
	border:1px solid #cecece;
	padding:10px;
}
#checkout_settings {
	width:95%;
	height:60%;
	margin-top:5px;
	display:none
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #333333;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(../image/quickcheckout/ui_ajax_quick_checkout_sprite_button.png) -2px 0px no-repeat !important;
	font-weight: bold !important;
	color: #1c94c4 !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #1c94c4 !important;
	text-decoration: none !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: url(../image/quickcheckout/ui_ajax_quick_checkout_sprite_button.png) -2px 0px no-repeat !important;
}
.ui-state-hover a, .ui-state-hover a:a {
	color: #c77405 !important;
	text-decoration: none !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: url(../image/quickcheckout/ui_ajax_quick_checkout_sprite_button.png) -2px 0px no-repeat !important;
	font-weight: bold;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}
.ui-widget :active {
	outline: none !important;
}
.alert, .alert-warning {
	padding:10px;
	margin:10px 0px 0px 0px;
	background:#FDFBE4;
	border: 1px solid #E2D092
}
#general_checkout_style {
	display: none;
	width:570px;
	height:200px;
	color: #479ccf;
	border: 1px solid #cecece;
	box-shadow:inset 1px 1px 3px #ebebeb;
}
#tab_general_min_order_text_1 label {
	width: 60px;
	white-space: nowrap;
	margin-top: 3px;
	overflow: hidden;
}
/*MijoShop*/
/*body.com_mijoshop div.container-fluid {
	padding-left:0px;
	padding-right:0px;
}
body.com_mijoshop nav.navbar {
	display:none;
}
body.com_mijoshop header.header {display:none;}
body.com_mijoshop div.subhead-collapse {display:none;}
body.com_mijoshop #container_oc {
	height:100% !important;
}
body.com_mijoshop #container_oc * {
direction:ltr !important;
}
body.com_mijoshop #container_oc, .box, .box .layout, .content {
	min-height:100% !important;
}
body.com_mijoshop .breadcrumb_oc {
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 10px;
	border-bottom: 1px solid #ececec;
	z-index:999;
	top:34px;
}
body.com_mijoshop .breadcrumb_oc, .breadcrumb_oc a {
	color: #aab6c5;
	font-size: 12px;
}
body.com_mijoshop #header_oc, .breadcrumb_oc, .box .heading {
	position:fixed !important;
	width:100% !important;
}
body.com_mijoshop #header_oc .box .heading {
	background-color: #fff !important;
}
body.com_mijoshop #header_oc {
	z-index:1000;
}
body.com_mijoshop .tabs-content {margin-bottom:0px !important;}
body.com_mijoshop ul {margin: 0px 0px 0px 0px;}




#element-box #header, #element-box .breadcrumb, #element-box .box .heading, #element-box .tabs-menu {
	position:relative !important;
	width: auto !important;
}
#element-box .tabs-content {
	padding:0px !important
}
#element-box .tabs-menu, #element-box .heading {
	top: 0px;
}
#element-box .heading {
	padding:0px;
!important
}
#element-box .breadcrumb_oc {
	padding: 4px;
}
#element-box table.form td label, #element-box td.name span, #element-box .tabs-menu ul li a span {
	font-size:12px;
}
#element-box .tabs-menu ul li {
	width: 180px;
}
#element-box #container_oc .box {
	background: #57666F;
}
element.style {
}
Matched CSS Rules #element-box #header, #element-box .breadcrumb, #element-box .box .heading, #element-box .tabs-menu {
	position: relative !important;
	width: auto !important;
}
#element-box .heading {
	padding: 0px;
}
#element-box .tabs-menu, #element-box .heading {
	top: 0px;
}
#element-box .box > .heading {
	background:#F2F2F2;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	border-radius: 0px !important;
}
#element-box .tabs-content.even-height {
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}
#element-box * {
	font-family: 'PT Sans', sans-serif !important;
}
#element-box .tiles > div .block-tab > p {
	margin:15px 0px !important;
}
#element-box table.form td.name {
	white-space:nowrap
}*/
