@charset "UTF-8";

@font-face {
  font-family: "shopunity-icons";
  src:url("fonts/shopunity-icons.eot");
  src:url("fonts/shopunity-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/shopunity-icons.woff") format("woff"),
    url("fonts/shopunity-icons.ttf") format("truetype"),
    url("fonts/shopunity-icons.svg#shopunity-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "shopunity-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "shopunity-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e000";
}
.icon-settings:before {
  content: "\e001";
}
.icon-design:before {
  content: "\e002";
}
.icon-payment:before {
  content: "\e003";
}
.icon-cart:before {
  content: "\e004";
}
.icon-comments:before {
  content: "\e005";
}
.icon-trash:before {
  content: "\e006";
}
.icon-cancel-circle:before {
  content: "\e007";
}
.icon-arr-up-circle:before {
  content: "\e008";
}
.icon-arr-down-circle:before {
  content: "\e009";
}
.icon-plus-circle:before {
  content: "\e00a";
}
.icon-minus-circle:before {
  content: "\e00b";
}
.icon-pencil:before {
  content: "\e00c";
}
.icon-tags:before {
  content: "\e00d";
}
.icon-link:before {
  content: "\e00e";
}
.icon-paypal:before {
  content: "\e00f";
}
.icon-arr-up-down:before {
  content: "\e010";
}
.icon-filter:before {
  content: "\e011";
}
.icon-install:before {
  content: "\e013";
}
.icon-refresh:before {
  content: "\e014";
}
.icon-clipboard:before {
  content: "\e015";
}
.icon-approve-circle:before {
  content: "\e016";
}
.icon-flag:before {
  content: "\e017";
}
.icon-fast-forward:before {
  content: "\e018";
}
.icon-fast-rewind:before {
  content: "\e019";
}
.icon-forward:before {
  content: "\e01a";
}
.icon-rewind:before {
  content: "\e01b";
}
.icon-forward-2x:before {
  content: "\e01c";
}
.icon-rewind-2x:before {
  content: "\e01d";
}
.icon-play:before {
  content: "\e01e";
}
.icon-stop:before {
  content: "\e01f";
}
.icon-pause:before {
  content: "\e020";
}
.icon-random:before {
  content: "\e021";
}
.icon-open:before {
  content: "\e022";
}
.icon-font:before {
  content: "\e023";
}
.icon-hand-right:before {
  content: "\e024";
}
.icon-hand-left:before {
  content: "\e025";
}
.icon-hand-up:before {
  content: "\e026";
}
.icon-hand-down:before {
  content: "\e027";
}
.icon-move:before {
  content: "\e028";
}
.icon-resize-small:before {
  content: "\e029";
}
.icon-resize-vertical:before {
  content: "\e02a";
}
.icon-resize-horisontal:before {
  content: "\e02b";
}
.icon-resize-full:before {
  content: "\e02c";
}
.icon-fullscreen:before {
  content: "\e02d";
}
.icon-mail:before {
  content: "\e02e";
}
.icon-paperclip:before {
  content: "\e02f";
}
.icon-send:before {
  content: "\e030";
}
.icon-thumbs-up:before {
  content: "\e031";
}
.icon-thumbs-down:before {
  content: "\e032";
}
.icon-traffic-cone:before {
  content: "\e033";
}
.icon-suitcase:before {
  content: "\e034";
}
.icon-rocket:before {
  content: "\e035";
}
.icon-user:before {
  content: "\e036";
}
.icon-user-female:before {
  content: "\e037";
}
.icon-user-add:before {
  content: "\e038";
}
.icon-users:before {
  content: "\e039";
}
.icon-images:before {
  content: "\e03a";
}
.icon-camera:before {
  content: "\e03b";
}
.icon-phone:before {
  content: "\e03c";
}
.icon-skype:before {
  content: "\e03d";
}
.icon-icq:before {
  content: "\e03e";
}
.icon-facebook-square:before {
  content: "\e03f";
}
.icon-twitter-bird:before {
  content: "\e040";
}
.icon-vkontakte-square:before {
  content: "\e041";
}
.icon-pintrest-square:before {
  content: "\e042";
}
.icon-cloud-full:before {
  content: "\e043";
}
.icon-eye-open:before {
  content: "\e044";
}
.icon-eye-closed:before {
  content: "\e045";
}
.icon-rss-square:before {
  content: "\e046";
}
.icon-media:before {
  content: "\e047";
}
.icon-ticket:before {
  content: "\e048";
}
.icon-sort-by-attributes:before {
  content: "\e049";
}
.icon-sort-by-attributes-alt:before {
  content: "\e04a";
}
.icon-calendar:before {
  content: "\e04b";
}
.icon-heart:before {
  content: "\e04c";
}
.icon-star-empty:before {
  content: "\e04d";
}
.icon-star-full:before {
  content: "\e04e";
}
.icon-html5:before {
  content: "\e04f";
}
.icon-currency:before {
  content: "\e050";
}
.icon-bug:before {
  content: "\e051";
}
.icon-share:before {
  content: "\e052";
}
.icon-map-pin:before {
  content: "\e053";
}
.icon-wifi-1:before {
  content: "\e054";
}
.icon-wifi-2:before {
  content: "\e055";
}
.icon-wifi-3:before {
  content: "\e056";
}
.icon-volume:before {
  content: "\e057";
}
.icon-volume-down:before {
  content: "\e058";
}
.icon-volume-up:before {
  content: "\e059";
}
.icon-stopwatch:before {
  content: "\e05a";
}
.icon-cloud:before {
  content: "\e05b";
}
.icon-twitter-square:before {
  content: "\e05c";
}
.icon-windows:before {
  content: "\e05d";
}
.icon-apple:before {
  content: "\e05e";
}
.icon-linux:before {
  content: "\e05f";
}
.icon-you-tube:before {
  content: "\e060";
}
.icon-tasks:before {
  content: "\e061";
}
.icon-flow-tree:before {
  content: "\e062";
}
.icon-flow-cascade:before {
  content: "\e063";
}
.icon-graduation-cap:before {
  content: "\e064";
}
.icon-monitor:before {
  content: "\e065";
}
.icon-mobile:before {
  content: "\e066";
}
.icon-tools:before {
  content: "\e067";
}
.icon-return:before {
  content: "\e068";
}
.icon-git-hub-square:before {
  content: "\e069";
}
.icon-flow-branch:before {
  content: "\e06a";
}
.icon-speed:before {
  content: "\e06b";
}
.icon-print:before {
  content: "\e06c";
}
.icon-trophy:before {
  content: "\e06d";
}
.icon-picasa:before {
  content: "\e06e";
}
.icon-music:before {
  content: "\e06f";
}
.icon-chart-area:before {
  content: "\e070";
}
.icon-chart-bar:before {
  content: "\e071";
}
.icon-chart-line:before {
  content: "\e072";
}
.icon-chart-pie:before {
  content: "\e073";
}
.icon-database:before {
  content: "\e074";
}
.icon-align-center:before {
  content: "\e075";
}
.icon-align-justify:before {
  content: "\e076";
}
.icon-align-left:before {
  content: "\e077";
}
.icon-align-right:before {
  content: "\e078";
}
.icon-teblet:before {
  content: "\e079";
}
.icon-lock-closed:before {
  content: "\e07a";
}
.icon-lock-open:before {
  content: "\e07b";
}
.icon-box:before {
  content: "\e07c";
}
.icon-tag:before {
  content: "\e07d";
}
.icon-zoom-in:before {
  content: "\e07e";
}
.icon-zoom-out:before {
  content: "\e07f";
}
.icon-cc:before {
  content: "\e080";
}
.icon-compass:before {
  content: "\e081";
}
.icon-google:before {
  content: "\e082";
}
.icon-google-plus-square:before {
  content: "\e083";
}
.icon-linked-in-square:before {
  content: "\e084";
}
.icon-invoice:before {
  content: "\e085";
}
.icon-burst:before {
  content: "\e086";
}
.icon-burst-new:before {
  content: "\e087";
}
.icon-burst-sale:before {
  content: "\e088";
}
.icon-map:before {
  content: "\e089";
}
.icon-dashbord-full:before {
  content: "\e08a";
}
.icon-warning:before {
  content: "\e08b";
}
.icon-archive:before {
  content: "\e08c";
}
.icon-alert:before {
  content: "\e08d";
}
.icon-question:before {
  content: "\e08e";
}
.icon-clock:before {
  content: "\e08f";
}
.icon-id-card:before {
  content: "\e090";
}
.icon-reply:before {
  content: "\e091";
}
.icon-reply-all:before {
  content: "\e092";
}
.icon-lightbulb:before {
  content: "\e093";
}
.icon-umbrella:before {
  content: "\e094";
}
.icon-compatibility:before {
  content: "\e095";
}
.icon-qrcode:before {
  content: "\e096";
}
.icon-dashbord:before {
  content: "\e097";
}
.icon-glass:before {
  content: "\e098";
}
.icon-movie:before {
  content: "\e099";
}
.icon-layers:before {
  content: "\e09a";
}
.icon-view-grid:before {
  content: "\e09b";
}
.icon-view-grid-large:before {
  content: "\e09c";
}
.icon-view-list:before {
  content: "\e09d";
}
.icon-view-list-info:before {
  content: "\e09e";
}
.icon-list-nested:before {
  content: "\e09f";
}
.icon-exit:before {
  content: "\e0a0";
}
.icon-config:before {
  content: "\e0a1";
}
.icon-ban:before {
  content: "\e0a2";
}
.icon-puzzle:before {
  content: "\e0a3";
}
.icon-android:before {
  content: "\e0a4";
}
.icon-save:before {
  content: "\e0a5";
}
.icon-pin:before {
  content: "\e0a6";
}
.icon-cloud-full-download:before {
  content: "\e0a7";
}
.icon-instagrem-square:before {
  content: "\e0a8";
}
.icon-search:before {
  content: "\e0a9";
}
.icon-cancel:before {
  content: "\e0aa";
}
.icon-fire:before {
  content: "\e0ab";
}
.icon-check:before {
  content: "\e0ac";
}
.icon-megaphone:before {
  content: "\e0ad";
}
.icon-new-window:before {
  content: "\e0ae";
}
.icon-transfer:before {
  content: "\e0af";
}
.icon-film:before {
  content: "\e0b0";
}
.icon-page-export:before {
  content: "\e0b1";
}
.icon-page-copy:before {
  content: "\e0b2";
}
.icon-page-add:before {
  content: "\e0b3";
}
.icon-page-delete:before {
  content: "\e0b4";
}
.icon-page-edit:before {
  content: "\e0b5";
}
.icon-paint-bucket:before {
  content: "\e0b6";
}
.icon-zip:before {
  content: "\e0b7";
}
.icon-grid-list:before {
  content: "\e0b8";
}
.icon-page-search:before {
  content: "\e0b9";
}
.icon-quote:before {
  content: "\e0ba";
}
.icon-sort-za:before {
  content: "\e0bb";
}
.icon-sort-az:before {
  content: "\e0bc";
}
.icon-code-closed:before {
  content: "\e0bd";
}
.icon-sort-91:before {
  content: "\e0be";
}
.icon-sort-19:before {
  content: "\e0bf";
}
.icon-electricity:before {
  content: "\e0c0";
}
.icon-barcode:before {
  content: "\e0c1";
}
.icon-crop:before {
  content: "\e0c2";
}
.icon-brush:before {
  content: "\e0c3";
}
.icon-address-book:before {
  content: "\e0c4";
}
.icon-code:before {
  content: "\e0c5";
}
.icon-book:before {
  content: "\e0c6";
}
.icon-bookmark:before {
  content: "\e0c7";
}
.icon-dropbox:before {
  content: "\e0c8";
}
.icon-happy-smiley:before {
  content: "\e0c9";
}
.icon-sad-smiley:before {
  content: "\e0ca";
}
.icon-angry-smiley:before {
  content: "\e0cb";
}
.icon-plus:before {
  content: "\e0cc";
}
.icon-chevron-up:before {
  content: "\e0cd";
}
.icon-chevron-left:before {
  content: "\e0ce";
}
.icon-chevron-right:before {
  content: "\e0cf";
}
.icon-chevron-down:before {
  content: "\e0d0";
}
.icon-indent-less:before {
  content: "\e0d1";
}
.icon-indent-more:before {
  content: "\e0d2";
}
.icon-signal:before {
  content: "\e0d3";
}
.icon-list:before {
  content: "\e0d4";
}
.icon-info:before {
  content: "\e0d5";
}
.icon-key:before {
  content: "\e0d6";
}
.icon-product:before {
  content: "\e0d7";
}
.icon-asterisk:before {
  content: "\e0d8";
}
.icon-cloud-download:before {
  content: "\e0d9";
}
.icon-cloud-upload:before {
  content: "\e0da";
}
.icon-shipping:before {
  content: "\e0db";
}
.icon-gift:before {
  content: "\e0dc";
}
.icon-cloud-full-upload:before {
  content: "\e0dd";
}
.icon-drag:before {
  content: "\e0de";
}
.icon-columns:before {
  content: "\e0df";
}
.icon-table:before {
  content: "\e0e0";
}
.icon-image:before {
  content: "\e0e1";
}
.icon-world:before {
  content: "\e0e2";
}
.icon-address:before {
  content: "\e0e3";
}
.icon-car:before {
  content: "\e0e4";
}
.icon-internet:before {
  content: "\e0e5";
}
.icon-input:before {
  content: "\e0e6";
}
.icon-stats:before {
  content: "\e0e7";
}
.icon-foot:before {
  content: "\e0e8";
}
.icon-info-circle:before {
  content: "\e0e9";
}
.icon-comment:before {
  content: "\e0ea";
}
.icon-folder:before {
  content: "\e0eb";
}
.icon-folder-open:before {
  content: "\e0ec";
}
.icon-page:before {
  content: "\e0ed";
}
.icon-calculator:before {
  content: "\e0ee";
}
.icon-slider:before {
  content: "\e0ef";
}
.icon-compare:before {
  content: "\e0f0";
}
.icon-add-picture:before {
  content: "\e0f1";
}
.icon-google-plus:before {
  content: "\e012";
}
.icon-facebook:before {
  content: "\e0f2";
}
.icon-odnoklassniki:before {
  content: "\e0f4";
}
.icon-yandex:before {
  content: "\e0f5";
}
.icon-yahoo:before {
  content: "\e0f6";
}
.icon-windows-live:before {
  content: "\e0f7";
}
.icon-linkedin:before {
  content: "\e0f8";
}
.icon-app-store:before {
  content: "\e0f9";
}
.icon-vkontakte:before {
  content: "\e0f3";
}
