@charset "utf-8";
/*Default style*/
#quickcheckout.default i.icon-profile,
#quickcheckout.default i.icon-payment-address,
#quickcheckout.default i.icon-shipping-address,
#quickcheckout.default i.icon-shipping-method,
#quickcheckout.default i.icon-payment-method{
	display:none}
#quickcheckout .box .box-heading{
	background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(242,242,242,1) 100%);
	background: #fff;
	color: #333333;
	font-size:14px;
	text-transform:uppercase;
	font-weight: normal;
	line-height: 30px;

}
.radio-input ul{
	list-style:none;
	padding-left:45%}
.box .box-content {
	border-top: 1px solid #efefef;
}

#step_7 .box .box-content{
	border-top: 1px solid #DBDEE1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius:7px;
}